registry=https://simonnncz-npm.pkg.coding.net/nnapp/nnnpm/
always-auth=true
//simonnncz-npm.pkg.coding.net/nnapp/nnnpm/:username=nnnpm-1610002729098
//simonnncz-npm.pkg.coding.net/nnapp/nnnpm/:_password=ZDQyZDhmMmUzNTk5NzI0YzgzYThlOTJhYTI1ZDVhNjNlNzFiMmRiMQ==
//simonnncz-npm.pkg.coding.net/nnapp/nnnpm/:email=1519574824@qq.com